body, html {
    margin: 0;
    height: 100vh;
    background-color: white; /* Changed to white */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
}

img {
    max-width: 70vw; /* Keeps the image smaller than the screen width */
    max-height: 70vh; /* Keeps the image smaller than the screen height */
    object-fit: contain; /* Makes sure the image never gets stretched out of shape */
}

#authorText {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: black;
    font-size: 20px;
    pointer-events: none; /* This ensures if you click the text, it still clicks the screen to change the image */
    user-select: none; /* Stops you from accidentally highlighting the text */
}