body, html {
    margin: 0;
    padding: 0;
    height: 100vh; 
    height: 100dvh; 
    width: 100vw;
    background-color: white;
    
    overflow: hidden;
    cursor: pointer;
    
    -webkit-tap-highlight-color: transparent; 
    touch-action: none; 
    position: relative; 
}

img {
    position: absolute;
    
    width: auto;
    height: auto;
    /* Forces the image to shrink enough to respect our new 40px borders */
    max-width: calc(100vw - 80px);
    max-height: calc(100dvh - 80px); 
    
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    
    /* Hides the image initially to prevent layout glitching */
    opacity: 0; 
}

#authorText {
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    color: black;
    font-size: 18px; 
    pointer-events: none; 
    user-select: none; 
    white-space: nowrap; 
    z-index: 10; 
}
